* {
	box-sizing: border-box;
	
	font-family:"Courier New", Courier, monospace;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: white;
}

#header > h1 > a, #header > h1 > a:visited {
	color: #222;
}

a {
	color: cadetblue;
	text-decoration: none;
	outline: #222;
	font-weight: bold;
}

a:visited {
	color: cadetblue;
	outline: #222;
	font-weight: bold;
}

#header {
	background-color: white;
	width: calc(100% - 40px);
	top: 0;
	left: 0;
	position: fixed;
	height: 50px;
	padding: 10px 20px;
	z-index: 50;
}

#content {
	height: calc(100% - 70px);
	margin-top: 70px;
	position: absolute;
	width: 100%;
}

.header-title {
	padding: 0;
	margin: 0;
	line-height: 50px;
	font-size: 20px;
}

.dropdown {
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
	height: 50px;
}

.dropdown-toggle {
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	cursor: default;
}

a.dropdown-toggle {
	cursor: pointer;
}

.dropdown-menu {
	position: absolute;
	display: none;
	min-width: 100px;
	background-color: white;
	margin: 0;
	padding: 0;
	text-align: left;
	z-index: 20;
	border: 1px solid #efefef;
}

.dropdown.right > .dropdown-menu {
	right: 0;
}

.dropdown-hover:hover > .dropdown-toggle {
	background-color: #fafafa;
}
.dropdown-hover:hover > .dropdown-menu {
	display: block;
}

ul.dropdown-menu {
	list-style-type: none;
}

.dropdown-menu-item {
	position: relative;
	margin: 0;
	padding: 0;
}

a.dropdown-item, .dropdown-item > a {
	text-decoration: none;
	color: #222;
	padding: 0 10px;
	line-height: 40px;
	display: block;
}

.dropdown-item:hover {
	background-color: #fafafa;
}